{% extends "base.html" %}
{% load static %}

{% block extracss %}
<style>
  body {
    padding-left: 0 !important;
  }
</style>
{% endblock %}

{% block content %}

<div class="home-page">
  <div class="home-header">
    <h1 class="home-title">Name of the app</h1>
    <p class="home-incentive">
      this platform is great for those who want to communicate with their friends and family.
    </p>

  </div>
  <div class="home-main">
    <div class="home-main-images">
      <img src="{% static 'images/phone.png' %}" alt="">
    </div>
    <div class="home-main-form allauth-container">
      <h2 class="home-main-form-title">Get in</h2>
      <div>
        <a href="{% url 'account_signup' %}" class="allauth-button home-allauth-button">SignUp</a>
        <a href="{% url 'account_login' %}" class="allauth-button home-allauth-button">Login</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}