{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="community-container">
    <div class="community-header">
        <div class="bg-logo-container">
            <div class="community-background">
                <img src="{% static 'images/default-bg.jpg' %}" alt="Community Header Background">
            </div>
            <div class="community-logo">
                <img src="{% static 'images/default-logo.png' %}" alt="Community Logo">
            </div>
            <div class="community-info">
                <h2>Name</h2>
                <p>Description</p>
            </div>
        </div>
    </div>
    <div class="community-form">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Save community</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#id_name').on('keyup', (e) => {
            $('.community-info h2').text($('#id_name').val());
        });
        $('#id_description').on('keyup', (e) => {
            $('.community-info p').text($('#id_description').val());
        });
        $('#id_logo').on('change', (e) => {
            $('.community-logo img').attr('src', URL.createObjectURL(e.target.files[0]));
        });
        $('#id_bg_image').on('change', (e) => {
            $('.community-background img').attr('src', URL.createObjectURL(e.target.files[0]));
        });
    })
</script>
{% endblock %}