{% extends "base.html" %}
{% load static %}

    
{% block content %}
<!-- <h1>My communities</h1> -->
{% if communities %}
<div class="communities-container">
    {% for community in communities %}
      <a href="{% url 'community' community.slug %}">
        <div class="community-card">
            <div class="community-card-logo">
                <img src="{{ community.logo_url }}" alt="{{ community.name }}" class="community-logo-img">
            </div>
            <div class="community-card-info">
              <div class="community-card-name">
                {{ community }}
              </div>
              <div class="community-card-description">
                {{ community.description }}
              </div>
            </div>
            <div class="community-card-members-count">
              {{ community.member_count }} members
            </div>
        </div>
      </a>
    {% endfor %}
</div>
{% else %}
<p>You are not a member of any community.</p>
{% endif %}
{% endblock %}