{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <div class="profile-info">
            <div class="avatar-container edit-page">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
                {% else %}
                    <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
                {% endif %}
                <div class="avatar-buttons">
                    <button class="edit-avatar-btn" id="edit-avatar-btn">Edit</button>
                    <button class="reset-avatar-btn" id="reset-avatar-btn">Reset</button>
                </div>
            </div>

        </div>
        <div class="profile-bio">
            <form class="edit-bio">
                {% csrf_token %}
                {{ profile_form }}
            </form>
        </div>
    </div>

    {{ password_form }}

    <script>
        $(document).ready(function() {
            // need to fetch only country names from geonames.org
            $.ajax({
                url: 'https://secure.geonames.org/countryInfoJSON?username=lexach91',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    let select = $('#id_country');
                    for (var i = 0; i < data.geonames.length; i++) {
                        select.append($('<option value="' + data.geonames[i].countryCode + '">' + data.geonames[i].countryName + '</option>'));
                    }
                }
            
            })
            $('#id_country').on('change', () => {
                let country = $('#id_country').val();
                console.log(country);
                $.ajax({
                    url: 'http://api.geonames.org/searchJSON?username=lexach91&country=' + country + '&maxRows=1000&style=SHORT',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        let select = $('#id_city');
                        select.empty();
                        for (var i = 0; i < data.geonames.length; i++) {
                            select.append($('<option value="' + data.geonames[i].name + '">' + data.geonames[i].name + '</option>'));
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}