{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block extrajs %}
{% endblock %}

{% block content %}
    <div class="profile-container profile-container-edit">
        <div class="profile-info">
        <div class="avatar-container edit-page">
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
            {% else %}
            <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
            {% endif %}
            <div class="avatar-buttons">
            <button class="edit-avatar-btn" id="edit-avatar-btn">Edit</button>
            <button class="reset-avatar-btn" id="reset-avatar-btn">Remove avatar</button>
            </div>
        </div>
        </div>
        <div class="profile-bio profile-bio-edit">
            <form class="edit-bio">
            <h2 class="profile-bio-edit-title">Edit personal data</h2>
                {% csrf_token %}
                {{ profile_form }}
                <button class="save-form profile-bio-edit-btn" id="save-bio-btn">Save changes</button>
            </form>
            <form class="password-form">
            <h2 class="password-form-title">Edit password</h2>
                {% csrf_token %}
                {{ password_form }}
                <button class="save-form password-form-btn" id="save-password-btn">Change password</button>
            </form>
        </div>
    </div>
    <div class="profile-delete-container">
        <button class="delete-profile-button">
        Delete account <i class="fas fa-trash-alt"></i>
        </button>
        <div class="delete-profile-dropdown hidden">
        <p>Are you sure you want to permanently delete your account?</p>
        <p>This action is irreversible!!!</p>
        <div class="profile-final-deletion">
            <a class="delete-confirm" href="{% url 'delete-user' %}">Yes, delete</a>
            <a class="delete-cancel" href="javascript:void(0);">No, cancel</a>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            let user_country = '{{ user.profile.country }}';
            let user_city = '{{ user.profile.city }}';
            $('#id_country').select2(
                {
                    placeholder: "Select a country",
                    allowClear: true,
                }
            );            
            $('#id_city').select2(
                {
                    placeholder: "Select a city",
                    allowClear: true,
                }
            );
            
            
            // need to fetch only country names from geonames.org
            $.ajax({
                url: 'https://secure.geonames.org/countryInfoJSON?username=lexach91',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    let select = $('#id_country');
                    for (var i = 0; i < data.geonames.length; i++) {
                        select.append($('<option>', {
                            value: data.geonames[i].countryName,
                            text: data.geonames[i].countryName,
                            data: {
                                code: data.geonames[i].countryCode,
                            }
                        }));
                        // select.append($('<option value="' + data.geonames[i].countryCode + '">' + data.geonames[i].countryName + '</option>'));
                    }
                    // select user's country by default
                    $('#id_country').val(user_country).trigger('change');
                    
                }
            
            })
            $('#id_country').on('change', () => {
                let country_code = $('#id_country').find(':selected').data('code');
                let country = $('#id_country').val();
                $.ajax({
                    url: 'https://secure.geonames.org/searchJSON?username=lexach91&country=' + country_code + '&maxRows=1000&style=SHORT',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        let select = $('#id_city');
                        select.empty();
                        for (var i = 0; i < data.geonames.length; i++) {
                            select.append($('<option value="' + data.geonames[i].name + '">' + data.geonames[i].name + '</option>'));
                        }
                        // select user's city by default
                        $('#id_city').val(user_city);
                    }
                })
            })
            $('#id_birth_date').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                yearRange: '-100:-12',

            });
            $('#save-bio-btn').on('click', () => {
                let form = $('.edit-bio');
                let data = form.serialize();
                // append 'form_type' to the data
                data += '&form_type=profile';
                // make all inputs disabled
                form.find('input').prop('disabled', true);
                // make all buttons disabled
                form.find('button').prop('disabled', true);
                // make all selects disabled
                form.find('select').prop('disabled', true);
                // make all textareas disabled
                form.find('textarea').prop('disabled', true);
                // add loading icon next to save button
                $('#save-bio-btn').append('<i class="fas fa-spinner fa-spin"></i>');
                $.ajax({
                    url: "{% url 'edit_profile' %}",
                    type: 'POST',
                    data: data,
                    success: function(data) {
                        // remove loading icon
                        $('#save-bio-btn i').remove();
                        // make all inputs enabled
                        form.find('input').prop('disabled', false);
                        // make all buttons enabled
                        form.find('button').prop('disabled', false);
                        // make all selects enabled
                        form.find('select').prop('disabled', false);
                        // make all textareas enabled
                        form.find('textarea').prop('disabled', false);
                        // show success message
                        $('#save-bio-btn').after('<span class="success-message">Saved!</span>');
                        // remove success message after 3 seconds
                        setTimeout(() => {
                            $('.success-message').remove();
                        }, 3000);
                    },
                    error: function(data) {
                        // remove loading icon
                        $('#save-bio-btn i').remove();
                        // make all inputs enabled
                        form.find('input').prop('disabled', false);
                        // make all buttons enabled
                        form.find('button').prop('disabled', false);
                        // make all selects enabled
                        form.find('select').prop('disabled', false);
                        // make all textareas enabled
                        form.find('textarea').prop('disabled', false);
                        // show error message
                        $('#save-bio-btn').after('<span class="error-message">Error!</span>');
                        // remove error message after 3 seconds
                        setTimeout(() => {
                            $('.error-message').remove();
                        }, 3000);
                    }
                })

            })
            $('#save-password-btn').on('click', () => {
                let form = $('.password-form');
                let data = form.serialize();
                // append 'form_type' to the data
                data += '&form_type=password';
                // make all inputs disabled
                form.find('input').prop('disabled', true);
                // make all buttons disabled
                form.find('button').prop('disabled', true);
                // add loading icon next to save button
                $('#save-password-btn').append('<i class="fas fa-spinner fa-spin"></i>');
                $.ajax({
                    url: "{% url 'edit_profile' %}",
                    type: 'POST',
                    data: data,
                    success: function(data) {
                        // remove loading icon
                        $('#save-password-btn i').remove();
                        // make all inputs enabled
                        form.find('input').prop('disabled', false);
                        // make all buttons enabled
                        form.find('button').prop('disabled', false);
                        // show success message
                        $('#save-password-btn').after('<span class="success-message">Saved!</span>');
                        // remove success message after 3 seconds
                        setTimeout(() => {
                            $('.success-message').remove();
                        }, 3000);
                    },
                    error: function(data) {
                        // remove loading icon
                        $('#save-password-btn i').remove();
                        // make all inputs enabled
                        form.find('input').prop('disabled', false);
                        // make all buttons enabled
                        form.find('button').prop('disabled', false);
                        // show error message
                        $('#save-password-btn').after('<span class="error-message">Error!</span>');
                        // remove error message after 3 seconds
                        setTimeout(() => {
                            $('.error-message').remove();
                        }, 3000);
                    }

                })
            })
            $('#edit-avatar-btn').on('click', () => {
                let fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.accept = 'image/*';
                fileInput.click();
                $(fileInput).on('change', (e) => {
                    let file = e.target.files[0];
                    e.target.value = '';
                    let currentAvatarUrl = $('img.avatar').attr('src');
                    let editBtnBackup = $('#edit-avatar-btn');
                    $('.avatar').attr('src', URL.createObjectURL(file));
                    // need to replace #edit-avatar-btn with two buttons:
                    // 1. save changes
                    // 2. cancel
                    let buttons = `<button id="save-avatar-btn">Save <i class="fas fa-check"></i></button>
                                    <button id="cancel-avatar-btn">Cancel <i class="fas fa-times"></i></button>`;
                    $('#edit-avatar-btn').after(buttons);
                    $('#edit-avatar-btn').hide();
                    $('#cancel-avatar-btn').on('click', () => {
                        $('.avatar').attr('src', currentAvatarUrl);
                        $('#edit-avatar-btn').show();
                        $('#save-avatar-btn').remove();
                        $('#cancel-avatar-btn').remove();
                    })
                    $('#save-avatar-btn').on('click', () => {
                        // show loading icon
                        $('#save-avatar-btn i').replaceWith('<i class="fas fa-spinner fa-spin"></i>');
                        // disable buttons
                        $('#save-avatar-btn').prop('disabled', true);
                        $('#cancel-avatar-btn').prop('disabled', true);

                        let formData = new FormData();
                        formData.append('avatar', file);
                        formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");
                        $.ajax({
                            url: "{% url 'edit_avatar_ajax' %}",
                            type: 'POST',
                            processData: false,
                            contentType: false,
                            cache: false,
                            data: formData,
                            success: function(data) {
                                $('.avatar').attr('src', data.avatar_url);
                                $('#edit-avatar-btn').show();
                                $('#save-avatar-btn').remove();
                                $('#cancel-avatar-btn').remove();
                                // show success message
                                $('#reset-avatar-btn').after('<span class="success-message">Saved!</span>');
                                // remove success message after 3 seconds
                                setTimeout(() => {
                                    $('.success-message').remove();
                                }, 3000);
                            },
                            error: function(data) {
                                $('.avatar').attr('src', currentAvatarUrl);
                                $('#edit-avatar-btn').show();
                                $('#save-avatar-btn').remove();
                                $('#cancel-avatar-btn').remove();
                                // show error message
                                $('#reset-avatar-btn').after('<span class="error-message">Error!</span>');
                                // remove error message after 3 seconds
                                setTimeout(() => {
                                    $('.error-message').remove();
                                }, 3000);
                            }
                        });
                    })
                })
                
            })
        
            $('#reset-avatar-btn').on('click', () => {
                let currentAvatarUrl = $('img.avatar').attr('src');
                let defaultAvatarUrl = "{% static 'images/default_avatar.svg' %}";
                $('img.avatar').attr('src', defaultAvatarUrl);
                let confirmation = confirm('Are you sure you want to reset your avatar?');
                if (confirmation) {
                    // add loading icon
                    $('#reset-avatar-btn').append('<i class="fas fa-spinner fa-spin"></i>');
                    // disable buttons
                    $('#reset-avatar-btn').prop('disabled', true);
                    $('#edit-avatar-btn').prop('disabled', true);
                    $.ajax({
                        url: "{% url 'reset-avatar' %}",
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': "{{ csrf_token }}"
                        },
                        success: function(data) {
                            // remove loading icon
                            $('#reset-avatar-btn i').remove();
                            // enable buttons
                            $('#reset-avatar-btn').prop('disabled', false);
                            $('#edit-avatar-btn').prop('disabled', false);
                            // show success message
                            $('#reset-avatar-btn').after('<span class="success-message">Saved!</span>');
                            // remove success message after 3 seconds
                            setTimeout(() => {
                                $('.success-message').remove();
                            }, 3000);
                        },
                        error: function(data) {
                            // remove loading icon
                            $('#reset-avatar-btn i').remove();
                            // enable buttons
                            $('#reset-avatar-btn').prop('disabled', false);
                            $('#edit-avatar-btn').prop('disabled', false);
                            // show error message
                            $('#reset-avatar-btn').after('<span class="error-message">Error!</span>');
                            // remove error message after 3 seconds
                            setTimeout(() => {
                                $('.error-message').remove();
                            }, 3000);
                        }
                    });
                }
            });
            $('.delete-profile-button').on('click', (e) => {
                $('.delete-profile-dropdown').toggleClass('hidden');
                $('html, body').animate({
                    scrollTop: $(document).height()
                }, 'slow');
            });
            $('.delete-cancel').on('click', (e) => {
                $('.delete-profile-dropdown').addClass('hidden');
            });
        });
    </script>
{% endblock %}