{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="profile-container">
    <div class="profile-info">
        <div class="avatar-container">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
            {% else %}
                <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
            {% endif %}
            <i class="fas fa-edit edit-avatar"></i>
        </div>

    </div>
    <div class="profile-bio">
        <div class="profile-name">
            <strong>Name: </strong>{{ user.profile }}
        </div>
        <div class="profile-age">
            <strong>Age: </strong>{{ user.profile.age }} years old
        </div>
        <div class="profile-location">
            <strong>Location:</strong>
            {% if user.profile.location %}
                Lives in {{ user.profile.location }}
            {% else %}
                No location specified...
            {% endif %}
        </div>
        <div class="profile-bio-text">
            <strong>Bio:</strong>            
            {% if user.profile.bio %}
                {{ user.profile.bio }}
            {% else %}
                No bio
            {% endif %}
        </div>
    </div>
</div>

{% include 'profiles/post_wall.html' %}


<script>
    $(document).ready(function() {
        $('.comments-container').hide();
        const createPostUrl = "{% url 'create_post_ajax' %}";
        const likePostUrl = "{% url 'like_post_ajax' %}";
        const dislikePostUrl = "{% url 'dislike_post_ajax' %}";
        const createCommentUrl = "{% url 'create_comment_ajax' %}";
        const likeCommentUrl = "{% url 'like_comment_ajax' %}";
        const dislikeCommentUrl = "{% url 'dislike_comment_ajax' %}";
        
        const createPost = (e) => {
            e.preventDefault();
            $('.post-form').find('input[name="post_type"]').val(1);
            $('.post-form').find('input[name="profile"]').val('{{ user.profile.id }}');
            $.ajax({
                url: createPostUrl,
                type: 'POST',
                data: $('.post-form').serialize(),
                success: (data) => {
                    let post = data.post;
                    let avatarUrl;
                    if(post.avatar) {
                        avatarUrl = post.avatar.url;
                    } else {
                        avatarUrl = "{% static 'images/default_avatar.svg' %}";
                    }
                    let author = post.author;
                    let authorUrl = post.author_url;
                    let postContent = post.content;
                    let createdAt = post.created_at;
                    $('.post-wall').prepend(`
                        <div class="post" data-post-id='${post.id}'>
                            <div class="post-info">
                                <div class="post-author">
                                    <img src="${avatarUrl}" alt="avatar" class="post-avatar">
                                    <div class="post-author-name">
                                        <strong>
                                            <a href="${authorUrl}">
                                                ${author}
                                            </a>
                                        </strong>
                                    </div>
                                </div>
                                <div class="post-time">
                                    <em>Posted at ${createdAt}</em>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="post-text">
                                    ${postContent}
                                </div>
                            </div>
                            <div class="likes-dislikes">
                                <div class="likes">
                                    <i class="far fa-heart like-button" data-post-id="${post.id}"></i>
                                    <span class="likes-count">0</span>
                                </div>
                                <div class="dislikes">
                                    <i class="far fa-times-circle dislike-button" data-post-id="${post.id}"></i>
                                    <span class="dislikes-count">0</span>
                                </div>
                                <div class="comments">
                                    <i class="far fa-comment comment-button" data-post-id="${post.id}"></i>
                                    <span class="comments-count">0</span>
                                </div>
                            </div>
                        </div>
                    `);
                    
                    $('.post-wall').find(`div[data-post-id='${post.id}']`).after(`
                        <div class="comments-container" data-for-post="${post.id}" style="display: none;">            
                            <form class="comment-form" data-post-id="${post.id}">
                                {% csrf_token %}
                                {{ comment_form }}
                                <button type="submit" class="comment-submit">Comment</button>
                            </form>
                        </div>
                    `);

                    $('.post-form').find('textarea').val('');
                    $(`.like-button[data-post-id='${post.id}']`).on('click', likeHandler);
                    $(`.dislike-button[data-post-id='${post.id}']`).on('click', dislikeHandler);
                    $(`.comment-button[data-post-id='${post.id}']`).on('click', commentHandler);
                    $(`.comment-form[data-post-id='${post.id}']`).on('submit', createComment);
                }
            });
        };
        
        const likeHandler = (e) =>{
            let postId = $(e.target).data('post-id');
            let commentId = $(e.target).data('comment-id');
            let url;
            if(commentId) {
                url = likeCommentUrl;
            } else {
                url = likePostUrl;
            }
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    post_id: postId,
                    comment_id: commentId,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: (data) => {
                    let likesCount = data.likes_count;
                    let dislikesCount = data.dislikes_count;
                    let id = postId || commentId;
                    let postOrComment = postId ? 'data-post-id=' : 'data-comment-id=';
                    let selector = `i[${postOrComment}${id}]`;
                    $(selector).parent().find('.likes-count').text(likesCount);
                    $(selector).parent().find('.dislikes-count').text(dislikesCount);
                    if(data.liked){
                        $(`${selector}.like-button`).removeClass('far').addClass('fas');
                        $(`${selector}.dislike-button`).removeClass('fas').addClass('far');
                    } else if (data.disliked) {
                        $(`${selector}.like-button`).removeClass('far').addClass('fas');
                        $(`${selector}.dislike-button`).removeClass('fas').addClass('far');
                    } else {
                        $(`${selector}.like-button`).removeClass('fas').addClass('far');
                        $(`${selector}.dislike-button`).removeClass('fas').addClass('far');
                    }
                }
            });
        };
         
        
        const dislikeHandler = (e) => {
            let postId = $(e.target).data('post-id');
            let commentId = $(e.target).data('comment-id');
            let url;
            if(commentId) {
                url = dislikeCommentUrl;
            } else {
                url = dislikePostUrl;
            }
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    post_id: postId,
                    comment_id: commentId,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: (data) => {
                    let likesCount = data.likes_count;
                    let dislikesCount = data.dislikes_count;
                    let id = postId || commentId;
                    let postOrComment = postId ? 'data-post-id=' : 'data-comment-id=';
                    let selector = `i[${postOrComment}${id}]`;
                    $(selector).parent().find('.likes-count').text(likesCount);
                    $(selector).parent().find('.dislikes-count').text(dislikesCount);
                    if(data.liked){
                        $(`${selector}.like-button`).removeClass('far').addClass('fas');
                        $(`${selector}.dislike-button`).removeClass('fas').addClass('far');
                    } else if (data.disliked) {
                        $(`${selector}.like-button`).removeClass('fas').addClass('far');
                        $(`${selector}.dislike-button`).removeClass('far').addClass('fas');
                    } else {
                        $(`${selector}.like-button`).removeClass('fas').addClass('far');
                        $(`${selector}.dislike-button`).removeClass('fas').addClass('far');
                    }
                }
            });
        };
        
        const commentHandler = (e) => {
            let postId = $(e.target).data('post-id');
            $(`div[data-for-post=${postId}]`).animate({
                height: 'toggle'
            }, 500);
        };
        
        const createComment = (e) =>{
            e.preventDefault();
            console.log(e.target);
            let postId = $(e.target).data('post-id');
            // console.log(postId);
            let commentContent = $(e.target).find('textarea').val();
            $.ajax({
                url: createCommentUrl,
                type: 'POST',
                data: {
                    post_id: postId,
                    comment_content: commentContent,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: (data) => {
                    let comment = data.comment;
                    let avatarUrl;
                    if(comment.avatar) {
                        avatarUrl = comment.avatar.url;
                    } else {
                        avatarUrl = "{% static 'images/default_avatar.svg' %}";
                    }
                    let author = comment.author;
                    let authorUrl = comment.author_url;
                    let commentContent = comment.content;
                    let createdAt = comment.created_at;
                    let commentId = comment.id;
                    let commentHtml = `
                        <div class="comment">
                            <div class="comment-info">
                                <div class="comment-author">
                                    <img src="${avatarUrl}" alt="avatar" class="comment-avatar">
                                    <div class="comment-author-name">
                                        <strong>
                                            <a href="${authorUrl}">
                                                ${author}
                                            </a>
                                        </strong>
                                    </div>
                                </div>
                                <div class="comment-time">
                                    <em>Posted at ${createdAt}</em>
                                </div>
                            </div>
                            <div class="comment-content">
                                <div class="comment-text">
                                    ${commentContent}
                                </div>
                            </div>
                            <div class="likes-dislikes">
                                <div class="likes">
                                    <i class="far fa-heart like-button" data-comment-id="${commentId}"></i>
                                    <span class="likes-count">0</span>
                                </div>
                                <div class="dislikes">
                                    <i class="far fa-times-circle dislike-button" data-comment-id="${commentId}"></i>
                                    <span class="dislikes-count">0</span>
                                </div>
                            </div>
                        </div>
                    `;
                    let commentsContainer = $(`div[data-for-post=${postId}]`);
                    let lastComment = commentsContainer.find('.comment').last();
                    if(lastComment.length) {
                        lastComment.after(commentHtml);
                    } else {
                        commentsContainer.prepend(commentHtml);
                    }


                    $(this).find('textarea').val('');
                    $('.like-button').on('click', likeHandler);
                    $('.dislike-button').on('click', dislikeHandler);
                }
            });
        };

        $('.post-form').on('submit', createPost);
        $('.comment-form').on('submit', createComment);
        $('.like-button').on('click', likeHandler);
        $('.dislike-button').on('click', dislikeHandler);
        $('.comment-button').on('click', commentHandler);
    });
</script>


{% endblock %}