{% load static %}
<!-- show form only if request.user is a member of a community or a friend with a page owner or its his profile -->
{% if request.user in community.members.all or request.user.profile in user_profile.friends.all or request.user == user_profile.user %}
<form class="post-form create">
    {% csrf_token %}
    {{ post_form }}
    <button type="submit" class="post-submit save-form">Post</button>
</form>
{% endif %}
<div class="post-wall">
    {% if posts %}
    {% for post in posts %}
        <div id="post-{{ post.id }}" class="post" data-post-id="{{ post.id }}">
            <div class="post-info">
                <div class="post-author">
                    
                        <img src="{{ post.author.profile.avatar_url }}" alt="avatar" class="post-avatar">
                    
                        
                    
                    <div class="post-author-name">
                        <strong>
                            <a href="{% url 'user_profile' post.author.username %}">
                                {{ post.author.profile }}
                                {% if post.author.profile.online %}
                                    <span class="online-circle" title="Online"></span>
                                {% endif %}
                            </a>
                        </strong>
                    </div>
                </div>
                <div class="post-time">
                    {% if post.edited %}
                        <em title='{{ post.updated_at }}'>
                            Edited {{ post.updated_at|timesince }} ago
                        </em>
                    {% else %} 
                        <em title='{{ post.created_at }}'>
                            Posted {{ post.created_at|timesince }} ago
                        </em>
                    {% endif %}
                </div>
            </div>
            <div class="post-content">
                {% if post.has_media %}
                <div class="post-media">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="post image" class="post-image">
                    {% elif post.video %}
                        <video controls class="post-video">
                            <source src="{{ post.video.url }}" type="video/mp4">
                        </video>
                    {% endif %}
                </div>
                {% endif %}
                <div class="post-text">
                    {{ post.content|safe|linebreaksbr }}
                </div>
            </div>
            <div class="likes-dislikes">
                <div class="likes">
                    {% if request.user in post.likes.all %}
                        <i class="fas fa-heart like-button" data-post-id="{{ post.id }}"></i>
                    {% else %}
                        <i class="far fa-heart like-button" data-post-id="{{ post.id }}"></i>
                    {% endif %}
                    <span class="likes-count">{{ post.get_likes }}</span>
                </div>
                <div class="dislikes">
                    {% if request.user in post.dislikes.all %}
                        <i class="fas fa-times-circle dislike-button" data-post-id="{{ post.id }}"></i>
                    {% else %}
                        <i class="far fa-times-circle dislike-button" data-post-id="{{ post.id }}"></i>
                    {% endif %}
                    <span class="dislikes-count">{{ post.get_dislikes }}</span>
                </div>
                <div class="comments">
                    <i class="far fa-comment comment-button" data-post-id="{{ post.id }}"></i>
                    <span class="comments-count">{{ post.comments_count }}</span>
                </div>
            </div>
            {% if post.author == request.user %}
            <div class="author-options">
                <i class="fas fa-edit edit-post-button" data-post-id="{{ post.id }}"></i>
                <i class="fas fa-trash-alt delete-post-button" data-post-id="{{ post.id }}"></i>
            </div>
            {% endif %}
        </div>
        <div class="comments-container" data-for-post="{{ post.id }}">            
            {% for comment in post.get_comments %}
                <div class="comment" data-comment-id="{{ comment.id }}">
                    <div class="comment-info">
                        <div class="comment-author">
                            
                            <img src="{{ comment.author.profile.avatar_url }}" alt="avatar" class="comment-avatar">
                            
                            <div class="comment-author-name">
                                <strong>
                                    <a href="{% url 'user_profile' comment.author.username %}">
                                        {{ comment.author.profile }}
                                        {% if comment.author.profile.online %}
                                            <span class="online-circle" title="Online"></span>
                                        {% endif %}
                                    </a>
                                </strong>
                            </div>
                        </div>
                        <div class="comment-time">
                            {% if comment.edited %}
                                <em title='{{ comment.updated_at|date:"d/m/Y H:i" }}'>
                                    Edited {{ comment.updated_at|timesince }} ago
                                </em>
                            {% else %} 
                                <em title='{{ comment.created_at|date:"d/m/Y H:i" }}'>
                                    {{ comment.created_at|timesince }} ago
                                </em>
                            {% endif %}
                        </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.content }}
                    </div>
                    <div class="likes-dislikes">
                        <div class="likes">
                            {% if request.user in comment.likes.all %}
                                <i class="fas fa-heart like-button" data-comment-id="{{ comment.id }}"></i>
                            {% else %}
                                <i class="far fa-heart like-button" data-comment-id="{{ comment.id }}"></i>
                            {% endif %}
                            <span class="likes-count">{{ comment.get_likes }}</span>
                        </div>
                        <div class="dislikes">
                            {% if request.user in comment.dislikes.all %}
                                <i class="fas fa-times-circle dislike-button" data-comment-id="{{ comment.id }}"></i>
                            {% else %}
                                <i class="far fa-times-circle dislike-button" data-comment-id="{{ comment.id }}"></i>
                            {% endif %}
                            <span class="dislikes-count">{{ comment.get_dislikes }}</span>
                        </div>
                    </div>
                    {% if comment.author == request.user %}
                    <div class="author-options">
                        <i class="fas fa-edit edit-comment-button" data-comment-id="{{ comment.id }}"></i>
                        <i class="fas fa-trash-alt delete-comment-button" data-comment-id="{{ comment.id }}"></i>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if request.user in community.members.all or request.user.profile in user_profile.friends.all or request.user == user_profile.user %}
            <form class="comment-form" data-post-id="{{ post.id }}">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="comment-submit">Comment</button>
            </form>
            {% endif %}
        </div>
    {% endfor %}
    {% else %}
        <div class="no-posts">
            <h2>No posts here yet</h2>
            <!-- check if its in profile or in community -->
            {% if user_profile %}
                {% if request.user.profile == user_profile %}
                    <p>You can start posting to share your thoughts with you friends</p>
                {% else %}
                    {% if request.user.profile in user_profile.friends.all %}
                        <p>You can post something to make {{ user_profile }} notice you</p>
                    {% else %}
                        <p>You need to add this person to friends to start posting here</p>
                    {% endif %}
                {% endif %}
            {% elif community %}
                {% if request.user in community.members.all %}
                    <p>You can start posting to share your thoughts with the community</p>
                {% else %}
                    <p>You need to join this community to start posting here</p>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>