{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="profile-container">
    <div class="profile-info">
        <div class="avatar-container">
            
            <img src="{{ user_profile.avatar_url }}" alt="avatar" class="avatar">
            
        </div>
    </div>
    <div class="profile-bio">
        <div class="profile-name">
            <strong>Name: </strong>{{ user_profile }}
        </div>
        <div class="profile-age">
            <strong>Age: </strong>{{ user_profile.age }} years old
        </div>
        <div class="profile-location">
            <strong>Location:</strong>
            {% if user_profile.location %}
                Lives in {{ user_profile.location }}
            {% else %}
                No location specified...
            {% endif %}
        </div>
        <div class="profile-bio-text">
            <strong>Bio:</strong>            
            {% if user_profile.bio %}
                {{ user_profile.bio }}
            {% else %}
                No bio
            {% endif %}
        </div>
    </div>

</div>

{% include 'profiles/post_wall.html' %}

<input type="hidden" value="{{ user_profile.id }}" id="profile_id">
<input type="hidden" value="1" id="post_type">
    
{% endblock %}