{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="profile-container">
    <div class="profile-info">
        <div class="avatar-container">
            
            <img src="{{ user_profile.avatar_url }}" alt="avatar" class="avatar">
            
        </div>
    </div>
    <div class="profile-bio">
        <div class="profile-name">
            <strong>Name: </strong>{{ user_profile }}
        </div>
        <div class="profile-age">
            <strong>Age: </strong>{{ user_profile.age }} years old
        </div>
        <div class="profile-location">
            <strong>Location:</strong>
            {% if user_profile.location %}
                Lives in {{ user_profile.location }}
            {% else %}
                No location specified...
            {% endif %}
        </div>
        <div class="profile-bio-text">
            <strong>Bio:</strong>            
            {% if user_profile.bio %}
                {{ user_profile.bio }}
            {% else %}
                No bio
            {% endif %}
        </div>
        <div class="friend-buttons">
            {% if user_profile in request.user.profile.friends.all %}
                <a class="chat-button" href="{% url 'chat_detail' username=user_profile.user.username %}">
                    Chat
                </a>
                <button class="unfriend-button" data-profile-id="{{ user_profile.id }}">Unfriend</button>
            {% else %}
                {% if user_profile in request.user.profile.pending_friends_in %}
                    <button class="accept-friend-button" data-profile-id="{{ user_profile.id }}">Accept</button>
                    <button class="decline-friend-button" data-profile-id="{{ user_profile.id }}">Decline</button>
                {% else %} 
                    {% if user_profile in request.user.profile.pending_friends_out %}
                        <button class="send-friend-button friend-pending-request" data-profile-id="{{ user_profile.id }}" disabled>Request pending</button>
                        <button class="cancel-friend-button" data-profile-id="{{ user_profile.id }}">Cancel</button>
                    {% else %}
                        <button class="send-friend-button" data-profile-id="{{ user_profile.id }}">Add to friends</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>

<div class="profile-wall">
    {% include 'profiles/post_wall.html' %}
</div>

<input type="hidden" value="{{ user_profile.id }}" id="profile_id">
<input type="hidden" value="1" id="post_type">
<input type="hidden" value="{{ user_profile.user.username }}" id="profile_username">
{% csrf_token %}

{% endblock %}