{% extends "base.html" %}
{% load static %}

{% block title %} {{ user_profile }}'s profile {% endblock %}
{% block content %}

<div class="profile-container">
    <div class="profile-online">
        {% if user_profile.online %}
            Online<span class="online-circle" title="Online"></span>
        {% elif second_user.last_seen %}
          Last seen {{ user_profile.last_seen|timesince }} ago
        {% else %}
            Offline
        {% endif %}
    </div>
    <div class="profile-info">
        <div class="avatar-container">
            
            <img src="{{ user_profile.avatar_url }}" alt="avatar" class="avatar">
            
        </div>
    </div>
    <div class="profile-bio">
        <div class="profile-name">
            <span>Name: </span>{{ user_profile }}             
        </div>
        <div class="profile-age">
            <span>Age: </span>{% if user_profile.age %} {{ user_profile.age }} years old {% else %} Unknown {% endif %}
        </div>
        <div class="profile-location">
            <span>Location:</span>
            {% if user_profile.location %}
                Lives in {{ user_profile.location }}
            {% else %}
                No location specified...
            {% endif %}
        </div>
        <div class="profile-bio-text">
            <span>Bio:</span>            
            {% if user_profile.bio %}
                {{ user_profile.bio }}
            {% else %}
                No bio
            {% endif %}
        </div>
        <div class="friend-buttons">
            {% if user_profile in request.user.profile.friends.all %}
                <a class="chat-button" href="{% url 'chat_detail' username=user_profile.user.username %}">
                    Chat
                </a>
                <button class="unfriend-button" data-profile-id="{{ user_profile.id }}">Unfriend</button>
            {% else %}
                {% if user_profile in request.user.profile.pending_friends_in %}
                    <button class="accept-friend-button" data-profile-id="{{ user_profile.id }}">Accept</button>
                    <button class="decline-friend-button" data-profile-id="{{ user_profile.id }}">Decline</button>
                {% else %} 
                    {% if user_profile in request.user.profile.pending_friends_out %}
                        <button class="send-friend-button friend-pending-request" data-profile-id="{{ user_profile.id }}" disabled>Request pending</button>
                        <button class="cancel-friend-button" data-profile-id="{{ user_profile.id }}">Cancel</button>
                    {% else %}
                        <button class="send-friend-button" data-profile-id="{{ user_profile.id }}">Add to friends</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>
<div class="friends-communities">
    <div class="profile-friends">
        <p>{{ user_profile.friends.count }} friend{{ user_profile.friends.count|pluralize }}</p>
        <a href="javascript:void(0)" class="show-friends-button">Show</a>
    </div>
    <div class="profile-communities">
        <p>{{ user_profile.user.communities.count }} communit{% if user_profile.user.communities.count|pluralize %}ies{% else %}y{% endif %}</p>
        <a href="javascript:void(0)" class="show-communities-button">Show</a>
    </div>
</div>

<div class="profile-wall">
    {% include 'profiles/post_wall.html' %}
</div>

<div class="profile-friends-modal hidden">
    <div class="friends-modal-container">
        <button class="close-modal-button">&times;</button>
        {% if user_profile.friends %}        
            <h3>{{ user_profile}}'s friends</h3>
                <div class="modal-friends-list">
                    {% for friend in user_profile.friends.all %}
                        <a href="{% url 'user_profile' friend.user.username %}" class="profile-list-card small">
                                <div class="profile-list-avatar">
                                    <img src="{{ friend.avatar_url }}" alt="avatar" class="profile-list-avatar-img">
                                </div>
                                <div class="profile-list-name">
                                    <strong>
                                        {{ friend }}
                                        {% if friend.online %}
                                            <span class="online-circle"></span>
                                        {% endif %}
                                    </strong>
                                </div>
                        </a>
                    {% endfor %}
                </div>
        {% else %}
            <p>{{ user_profile }} has no friends yet</p>
        {% endif %}
    </div>
</div>

<div class="profile-communities-modal hidden">
    <div class="communities-modal-container">
        <button class="close-modal-button">&times;</button>
        {% if user_profile.user.communities %}
            <h3>{{ user_profile }}'s communities</h3>
            <div class="modal-communities-list">
                {% for community in user_profile.user.communities.all %}
                    <a href="{% url 'community' community.slug %}" class="explore-community-link">

                            <div class="explore-community-logo">
                                <img src="{{ community.logo_url }}" alt="{{ community }}">
                            </div>
                            <div class="explore-community-info">
                                <div class="explore-community-name">{{ community.name }}</div>
                                <div class="explore-community-description">{{ community.description }}</div>
                                
                            </div>
                            <div class="explore-community-members">{{ community.member_count }} member{{ community.member_count|pluralize:"s"}}</div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ user_profile }} isn't a member of any communities yet</p>
        {% endif %}
    </div>



<input type="hidden" value="{{ user_profile.id }}" id="profile_id">
<input type="hidden" value="1" id="post_type">
<input type="hidden" value="{{ user_profile.user.username }}" id="profile_username">
{% csrf_token %}


<script>
    $(document).ready(function() {
        const friendsModal = $('.profile-friends-modal');
        const showFriendsButton = $('.show-friends-button');

        const communitiesModal = $('.profile-communities-modal');
        const showCommunitiesButton = $('.show-communities-button');

        showFriendsButton.click(function() {
            friendsModal.removeClass('hidden');
            $('.close-modal-button').on('click', function() {
                friendsModal.addClass('hidden');
                $('.close-modal-button').off('click');
                $(friendsModal).off('click');
                $(document).off('keydown');
            });
            $(friendsModal).on('click', function(event) {
                if (event.target === this) {
                    friendsModal.addClass('hidden');
                    $('.close-modal-button').off('click');
                    $(friendsModal).off('click');
                    $(document).off('keydown');
                }
            });
            $(document).on('keydown', function(event) {
                if (event.key === 'Escape') {
                    friendsModal.addClass('hidden');
                    $('.close-modal-button').off('click');
                    $(friendsModal).off('click');
                    $(document).off('keydown');
                }
            });
            
        });

        showCommunitiesButton.click(function() {
            communitiesModal.removeClass('hidden');
            $('.close-modal-button').on('click', function() {
                communitiesModal.addClass('hidden');
                $('.close-modal-button').off('click');
                $(communitiesModal).off('click');
                $(document).off('keydown');
            });
            $(communitiesModal).on('click', function(event) {
                if (event.target === this) {
                    communitiesModal.addClass('hidden');
                    $('.close-modal-button').off('click');
                    $(communitiesModal).off('click');
                    $(document).off('keydown');
                }
            });
            $(document).on('keydown', function(event) {
                if (event.key === 'Escape') {
                    communitiesModal.addClass('hidden');
                    $('.close-modal-button').off('click');
                    $(communitiesModal).off('click');
                    $(document).off('keydown');
                }
            });
        });
    }); 
</script>
{% endblock %}