*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 15em;
}

.hidden {
    display: none !important;
}

/* ---------------- Navigation -------------------- */

#nav-bar {
    height: 100vh;
    width: 15em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000cc;
}

.navigation {
    height: 100%;
    width: 100%;
    padding-left: 2em;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    list-style: none;
}

.navigation-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: whitesmoke;
}

.navigation-item a i {
    font-size: 1.2em;
    margin-right: .5em;
}

/* ---------------- Main Content -------------------- */
.main-content {
    width: 100%;
    padding: 1em 2em;
}

/* ---------------- Profile page -------------------- */

.profile-container {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.avatar-container {
    width: 15em;
    height: 15em;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatar-container.edit-page {
    width: 15em;
    height: auto;
    border-radius: 0;
    flex-direction: column;
}

.avatar-container.edit-page .avatar-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.avatar-container.edit-page .avatar-buttons button {
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: none;
    margin: .5em;
}


form.edit-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar-container.edit-page img {
    width: 15em;
    height: 15em;
}


.edit-avatar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2em;
    height: 2em;
    padding: .5em;
    z-index: 10;
    cursor: pointer;
}

.accept-avatar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: .5em;
    z-index: 10;
    cursor: pointer;
}

.cancel-avatar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2em;
    height: 2em;
    padding: .5em;
    z-index: 10;
    cursor: pointer;
}

.profile-bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 2em;
    font-size: large;
    line-height: 1.5em;
}

/* ---------------- Posts -------------------- */
.post-wall {
    width: 100%;
    max-width: 70rem;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post,
.post-form {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #dcddff;
    padding: 1em;
    margin-bottom: 1em;
}

.post {
    padding-bottom: 0;
}

.post:not(:last-child) {
    margin-bottom: 1em;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.7em;
}

.post-author {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.post-author-name a {
    text-decoration: none;
    color: #5200b1;
}

.post-author-name a:hover {
    color: #9296F0;
}

.post-avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: .5em;
}

.post-form {
    align-items: center;
}

.post-form textarea[name="content"] {
    width: 100%;
    height: 9vh;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    resize: vertical;
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1em;
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: .5em;
}

.likes-dislikes>div:not(:last-child) {
    margin-right: .5em;
}

.likes,
.dislikes,
.comments {
    cursor: pointer;
}

.post-media {
    width: 100%;
    height: auto;
    max-height: 30em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image {
    width: 100%;
    height: auto;
    max-height: 30em;
    object-fit: cover;
    object-position: center;
}


/* ---------------- Comments -------------------- */
.comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
}

.comment {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #dcddff;
    padding: 1em;
    margin-bottom: 1em;
    padding-bottom: 0;
}


.comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.7em;
}

.comment-author {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.comment-avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: .5em;
}


/* ---------------- Profiles/Friends/Requests list -------------------- */

.friends-container {
    width: 100%;
    padding: 2em 0;
}

.profiles-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-list-card {
    width: 14em;
    padding: 1em;
    margin: .5em;
    /* height: 80%; */
    /* background-color: red; */
    border: 1px solid #000000cc;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* -webkit-box-shadow: 0px 4px 10px 2px #0000006e; */
    /* box-shadow: 0px 4px 10px 2px #0000006e; */

}

.profile-list-avatar {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    /* margin: 0 auto; */
}

.profile-list-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-list-name {
    /* font-size: 1.2em; */
    /* margin-top: .5em; */
    height: 2em;
    display: flex;
    align-items: center;
}

.friend-buttons {
    height: 2em;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.switchers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 2em;
    margin: 0 auto;
}

.switch-button {
    height: 100%;
    width: 50%;
    border: none;
    outline: none;
}

.switch-button.left {
    border-radius: 15px 0 0 15px;
}

.switch-button.right {
    border-radius: 0 15px 15px 0;
}

.switch-button.active {
    background-color: red;
}



/* ---------------- Communities list -------------------- */

.communities-container {
    width: 100%;
    padding: 2em;
}

.community {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin: .5em;
    border: 1px solid black;
}

.community-logo {
    width: 14em;
    height: 10em;
    margin-right: .5em;
}

.community-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* ---------------- Chat -------------------- */



.chat-messages {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

.chat-input-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

.chat-input {
    width: 100%;
    height: 10vh;
    border: 1px solid black;
    padding: 1em;
    resize: none;
    border-radius: .3em;
}

.chat-send-button {
    width: 5em;
    height: 2em;
    /* border-radius: 50%; */
    border: 1px solid black;
    background-color: #9296F0;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    margin-left: auto;
    margin-top: .5em;
}

.chat-message {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em;
    margin: .5em;
    border: 1px solid black;
}

.message-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: .5em;
}

.my-message {
    background-color: #e2e0ff;
    border-radius: 0.3em;
    margin-left: auto;
}

.other-message {
    background-color: #dcddff;
    border-radius: 0.3em;
    margin-right: auto;
}