*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 15em;
}

#nav-bar {
    height: 100vh;
    width: 15em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.navigation {
    height: 100%;
    width: 100%;
    padding-left: 2em;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    list-style: none;
}

.navigation-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: whitesmoke;
}

.navigation-item a i {
    font-size: 1.2em;
    margin-right: .5em;
}