{% extends "base.html" %}

{% block content %}

    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search_query" placeholder="Search...">
        <label for="people">People</label>
        <input id="people" type="radio" name="search_type" value="people">
        <label for="communities">Communities</label>
        <input id="communities" type="radio" name="search_type" value="communities">
        <input type="submit">
    </form>

    {% if search_results_people %}
        <h2>Search results:</h2>
        <ul>
            {% for person in search_results_people %}
                <li>
                    <a href="{% url 'user_profile' person.user.username %}">
                        {{ person}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}