{% extends 'base.html' %}
{% load static %}
{% block title %}
    404 - Page not found
{% endblock %}
{% if not request.user.is_authorized %}
  {% block extracss %}
    <style>
         body {
            padding-left: 0 !important;
        }
        @media all and (max-width: 1040px) {
          .errors-container {
            margin: 1em !important;
          }
        }
        @media all and (max-width: 662px) {
          .errors-container {
            margin: 1em !important;
          }
        }
    </style>
  {% endblock %}
{% endif %}

{% block content %}
    <div class="errors">
        <div class="errors-container">
            <h1 class="error-title">Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="errors-details">
                Sorry, an error has occurred, Requested page not found!
            </div>
            <div class="errors-actions-container">
                <a href="{% url 'home' %}" class="errors-actions">Take Me Home <i class="fa fa-home"></i></a>
            </div>
        </div>
    </div>
{% endblock %}