{% extends 'base.html' %}
{% load static %}
{% block title %}
    500 - Internal Server Error
{% endblock %}
{% block extracss %}
{% if not user.is_authenticated %}
    <style>
      body {
        padding-left: 0 !important;
      }
      
      @media all and (max-width: 1040px) {
        .allauth.allauth-logout .errors-container {
          margin: 1em !important;
        }
      }
      @media all and (max-width: 662px) {
        .allauth.allauth-logout .errors-container {
          margin: 1em !important;
        }
      }
    </style>
{% endif %}
{% endblock %}
{% block content %}
    <div class="errors allauth allauth-logout">
        <div class="errors-container">
            <h1 class="error-title">Oops!</h1>
            <h2>500 Internal Server Error</h2>
            <div class="errors-details">
                Sorry, an error has occurred, Internal Server Error!
            </div>
            <div class="errors-actions-container">
                <a href="{% url 'home' %}" class="errors-actions">Take Me Home <i class="fa fa-home"></i></a>
            </div>
        </div>
    </div>
{% endblock %}