{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="chat-container">
    <div class="chat-messages">
        {% for message in chat.messages.all %}
            {% if message.author == request.user %}
            <div class="chat-message my-message">
            {% else %}
            <div class="chat-message other-message">
            {% endif %}
                <div class="message-author">
                    {% if message.author.profile.avatar.url %}
                        <img class="message-avatar" src="{{ message.author.profile.avatar.url }}" alt="{{ message.author }}" />
                    {% else %}
                        <img class="message-avatar" src="{% static 'images/default_avatar.svg' %}" alt="{{ message.author }}" />
                    {% endif %}
                    {{ message.author.profile }}
                </div>
                {% if message.has_media %}
                    <div class="message-media">
                    {% if message.image.url %}
                        <img src="{{ message.image.url }}" alt="{{ message.image }}" />
                    {% else %}
                        <video controls>
                            <source src="{{ message.video.url }}" type="video/mp4">
                        </video>
                    {% endif %}
                    </div>
                {% endif %}
                <div class="message-text">
                    {{ message.content }}
                </div>
                <div class="message-time">
                    {{ message.created_at }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="chat-input-container">
        <textarea class="chat-input" placeholder="Type your message here..."></textarea>
        <button class="chat-send-button">Send</button>
        <input type="hidden" id="username" value="{{ request.user.username }}">
        <input type="hidden" id="chatId" value="{{ chat.id }}">
    </div>
</div>
<script src="{% static 'js/chatRoom.js' %}"></script>

{% endblock %}