{% extends 'base.html' %}
{% load static %}
{% block content %}
<ul>
    {% for chat in chats %}
        <li>
            {% for member in chat.members.all %}
                {% if member != request.user %}
                    <a href="{% url 'chat_detail' username=member.username %}">
                Chat with {{ member.username }}
                    </a>
                {% endif %}
            {% endfor %}
                {{ chat.get_last_message }}
                {{ chat.unread_messages_count }}
        </li>
    {% endfor %}
</ul>
{% endblock %}