{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="messages-all">
        {% for chat in chats %}
            {% for member in chat.members.all %}
                {% if member != request.user %}
                    <a href="{% url 'chat_detail' username=member.username %}" class="messages-single-container">
                        <div class="messages-single">
                            <div class="message-avatar-container">
                                <img src="{{ member.profile.avatar_url }}" alt="avatar" class="message-avatar">
                            </div>
                            <div class="message-info">
                                <div class="message-name">
                                    {{ member.username }}
                                </div>
                                <div class="message-last-message">
                                    {% if chat.get_last_message %}
                                        {% if chat.get_last_message.author == request.user %}
                                            Me: {{ chat.get_last_message|truncatechars:50 }}
                                        {% else %}
                                            {{ chat.get_last_message|truncatechars:50 }}
                                        {% endif %}
                                    {% else %}
                                        Chat is empty
                                    {% endif %}
                                </div>
                            </div>
                            <div class="last-message-info">
                                <div class="last-message-time" title='{{ chat.get_last_message.created_at|date:"F j, Y, g:i a" }}'>
                                    {{ chat.get_last_message.sent_at }}
                                </div>
                                {% if chat.unread_messages_count > 0 and chat.get_last_message.author != request.user %}
                                    <div class="message-count">
                                        {{ chat.unread_messages_count }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}