{% extends "base.html" %}

{% load i18n %}

{% block extracss %}
  <style>
    body {
      padding-left: 0 !important;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
  <div class="allauth">
    <div class="allauth-container allauth-container-login">
      <h1 class="allauth-title">{% trans "Account Inactive" %}</h1>

      <p class="allauth-note">{% trans "This account is inactive." %}</p>
    </div>
  </div>
{% endblock %}