{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block extracss %}
<style>
  body {
    padding-left: 0 !important;
  }
</style>
{% endblock %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="allauth">
  <div class="allauth-container allauth-container-login">
    <h1 class="allauth-title">{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <p class="allauth-note">{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
    <p class="allauth-note">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}" class="allauth-link">sign up</a> first.{% endblocktrans %}
    </p>
    {% endif %}
    <form class="login" method="POST" action="{% url 'account_login' %}" class="allauth-form">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="allauth-buttons-container">
        <button type="submit" class="allauth-button">{% trans "Sign In" %}</button>
        <a class="allauth-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}