{% extends "base.html" %}

{% load i18n %}

{% block extracss %}
  <style>
    body {
      padding-left: 0 !important;
    }
  </style>
{% endblock %}

{% block title %} Set password {% endblock %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
  <div class="allauth">
    <div class="allauth-container">
      <h1 class="allauth-title">{% trans "Set Password" %}</h1>

      <form method="POST" action="{% url 'account_set_password' %}" id="signup_form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"
          class="allauth-button allauth-single-button" />
      </form>
    </div>
  </div>
{% endblock %}