{% extends "base.html" %}

{% load i18n %}

{% block extracss %}
  <style>
    body {
      padding-left: 0 !important;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="allauth">
  <div class="allauth-container allauth-container-login">
    <h1 class="allauth-title">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="allauth-form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="allauth-buttons-container">

        <button type="submit" name="action" class="allauth-button">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="allauth-link">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}