{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block extracss %}
  <style>
    body {
      padding-left: 0 !important;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="allauth">
    <div class="allauth-container">
      <h1 class="allauth-title">{% trans "Password Reset" %}</h1>

      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p class="allauth-note">
        {% blocktrans %}
          We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}