{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block extracss %}
  <style>
    body {
      padding-left: 0 !important;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="allauth">
    <div class="allauth-container">
      <h1 class="allauth-title">{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p class="allauth-note">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
      </p>

      <form method="POST" action="{% url 'account_reset_password' %}" class="allauth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="allauth-button allauth-single-button" />
      </form>

      <p class="allauth-note">
        {% blocktrans %}
          Please contact us if you have any trouble resetting your password.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}