{% extends "base.html" %}

{% load i18n %}

{% block extracss %}
  <style>
    body {
      padding-left: 0 !important;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="allauth">
    <div class="allauth-container">
      <h1 class="allauth-title">{% trans "Sign Up" %}</h1>

      <p class="allauth-note">
        {% blocktrans %}
            Already have an account? Then please <a href="{{ login_url }}" class="allauth-link">sign in</a>.
        {% endblocktrans %}
      </p>

      <form id="signup_form" method="post" action="{% url 'account_signup' %}" class="allauth-form">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="allauth-button allauth-single-button">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
{% endblock %}