
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block meta %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% endblock %}

    <link rel="icon" href="{% static 'favicon.ico' %}">
    
    {% block extrajs %}
    {% endblock %}
    
    {% block corecss %}
    <!-- jquery ui css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block jslibraries %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extracss %}
    {% endblock %}


    <title>
      Honeycomb |
      {% block title %}
      {% endblock %}
    </title>
</head>
<body>
        {% if user.is_authenticated %}
            <input type="hidden" value="{{ request.user.username }}" id="userUsername">
            {% block navbar %}
            <nav id="nav-bar">
                <ul class="navigation">
                  <li class="navigation-item">
                    <a href="{% url 'my_profile' %}"><i class="fas fa-user"></i>
                      <span class="navigation-name">
                        Profile
                      </span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'feed' %}"><i class="fas fa-newspaper"></i>
                      <span class="navigation-name">
                        Feed
                      </span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'my-friends' %}"><i class="fas fa-user-friends"></i>
                      <span class="navigation-name">
                        Friends
                      </span>
                      <span class="nav-badge requests-count" title="Pending friend requests">
                        {% if request.user.profile.pending_requests_count > 0 %}
                          ({{ request.user.profile.pending_requests_count }})
                        {% endif %}
                      </span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'users_communities' %}"><i class="fas fa-users"></i>
                      <span class="navigation-name">
                      Communities
                      </span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'my_messages' %}"><i class="fas fa-comments"></i>
                      <span class="navigation-name">
                        Messages
                      </span>
                      <span class="nav-badge messages-count" title="Unread messages">
                          {% if request.user.profile.unread_messages_count > 0 %}
                            ({{ request.user.profile.unread_messages_count }})
                          {% endif %}
                      </span>
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'search' %}"><i class="fas fa-search"></i>
                      <span class="navigation-name">
                        Search  
                      </span>                    
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'account_logout' %}"><i class="fas fa-sign-out"></i>
                      <span class="navigation-name">
                        Logout
                      </span>
                    </a>
                  </li>
                </ul>
              </nav>
            {% endblock %}
        {% endif %}

    <div class="main-content">
    {% block content %}
    {% endblock %}
    </div>
    {% block corejs %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% if user.is_authenticated %}
    {% block js_notifications %}
    <script src="{% static 'js/notifications.js' %}"></script>
    {% endblock %}
    {% endif %}

</body>
</html>