
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block meta %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% endblock %}

    
    {% block extrajs %}
    {% endblock %}
    
    {% block corecss %}
    <!-- jquery ui css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block jslibraries %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extracss %}
    {% endblock %}


    <title>Document</title>
</head>
<body>
        {% if user.is_authenticated %}
            {% block navbar %}
            <nav id="nav-bar">
                <ul class="navigation">
                  <li class="navigation-item">
                    <a href="{% url 'my_profile' %}"><i class="fas fa-user"></i>Profile</a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'feed' %}"><i class="fas fa-newspaper"></i>Feed</a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'my-friends' %}"><i class="fas fa-user-friends"></i>Friends
                      {% if user.profile.pending_friend_requests %}
                      <span class="badge"> ({{ user.profile.pending_friend_requests.count }})</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'users_communities' %}"><i class="fas fa-users"></i></i>Communities</a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'my_messages' %}"><i class="fas fa-comments"></i>Messages</a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'search' %}"><i class="fas fa-search"></i>Search</a>
                  </li>
                  <li class="navigation-item">
                    <a href="{% url 'account_logout' %}"><i class="fas fa-sign-out"></i>Logout</a>
                  </li>
                </ul>
              </nav>
            {% endblock %}
        {% else %}
            <a href="{% url 'account_signup' %}">SignUp</a>
            <a href="{% url 'account_login' %}">Login</a>
        {% endif %}

    <div class="main-content">
    {% block content %}
    {% endblock %}
    </div>
    {% block corejs %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

</body>
</html>