{% extends "base.html" %}
{% load static %}
    
    {% block content %}
    <div class="friends-container-main">
        <div class="switchers">
            <button id="profilesFriends" class="btn switch-button left active">My friends</button>
            <button id="profilesRequests" class="btn switch-button right">Requests</button>
        </div>
        <div class="friends-container">
            <div id="friends" class="profiles-list">
                {% for friend in friends %}
                    <a href="{% url 'user_profile' friend.user.username %}" class="profile-list-card">
                            <div class="profile-list-avatar">
                                <img src="{{ friend.avatar_url }}" alt="avatar" class="profile-list-avatar-img">
                            </div>
                            <div class="profile-list-name">
                                <strong>
                                    {{ friend }}
                                    {% if friend.online %}
                                        <span class="online-circle"></span>
                                    {% endif %}
                                </strong>
                            </div>
                    </a>
                {% endfor %}
            </div>

            <div id="friend-requests" class="profiles-list">
                {% for friend_request in pending_requests %}
                    <a href="{% url 'user_profile' friend_request.from_profile.user.username %}" class="profile-list-card">
                            <div class="profile-list-avatar">
                                <img src="{{ friend_request.from_profile.avatar_url }}" alt="avatar" class="profile-list-avatar-img">
                            </div>
                            <div class="profile-list-name">
                                <strong>
                                    {{ friend_request.from_profile }}
                                    {% if friend_request.online %}
                                        <span class="online-circle"></span>
                                    {% endif %}
                                </strong>
                            </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
  


    <script>
    const acceptFriendUrl = "{% url 'accept-friend-request' %}";
    const declineFriendUrl = "{% url 'decline-friend-request' %}";
    

    const friendsSwitch = document.querySelector('#profilesFriends');
    const requestsSwitch = document.querySelector('#profilesRequests');

    const friendsContainer = document.querySelector('#friends');
    const requestsContainer = document.querySelector('#friend-requests');
    requestsContainer.classList.add('hidden');

    friendsSwitch.addEventListener('click', () => {
        friendsSwitch.classList.add('active');
        requestsSwitch.classList.remove('active');
        friendsContainer.classList.remove('hidden');
        requestsContainer.classList.add('hidden');
    });

    requestsSwitch.addEventListener('click', () => {
        requestsSwitch.classList.add('active');
        friendsSwitch.classList.remove('active');
        requestsContainer.classList.remove('hidden');
        friendsContainer.classList.add('hidden');
    });


    $('.acceptFriend').click(function() {
        const id = $(this).data('request-id');
        $.ajax({
            url: acceptFriendUrl,
            method: 'POST',
            data: {
                'id': id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data);
                // need to remove the friend request from the list
                // $('#friend-requests').find(`[data-request-id="${id}"]`).parent().parent().remove();
                // need to remove it with animation
                $('#friend-requests').find(`[data-request-id="${id}"]`).parent().parent().slideUp();
            }
        });
    });

    $('.declineFriend').click(function() {
        const id = $(this).data('request-id');
        $.ajax({
            url: declineFriendUrl,
            method: 'POST',
            data: {
                'id': id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data);
                // need to replace the button with the message that the request has been sent
                // $('.declineFriend[data-id=' + id + ']').replaceWith('<span>Friend request declined</span>');
                $('#friend-requests').find(`[data-request-id="${id}"]`).parent().parent().slideUp();
            }
        });
    });
</script>
    

    {% endblock %}