{% extends "base.html" %}

    
    {% block content %}

    <h1>My friends</h1>
    <ul>
        {% for friend in friends %}
            <li>{{ friend }}</li>
        {% endfor %}
    </ul>
    <h1>Pending requests</h1>
    <ul>
        {% for friend_request in pending_requests %}
            <li>{{ friend_request }}
                <div>
                    <button class="acceptFriend" data-id="{{ friend_request.id }}">Accept</button>
                    <button class="declineFriend" data-id="{{ friend_request.id }}">Decline</button>
                </div>
            </li>
        {% endfor %}
    </ul>


    <script>
    const acceptFriendUrl = "{% url 'accept-friend-request' %}";
    const declineFriendUrl = "{% url 'decline-friend-request' %}";

    $('.acceptFriend').click(function() {
        const id = $(this).data('id');
        $.ajax({
            url: acceptFriendUrl,
            method: 'POST',
            data: {
                'id': id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data);
                // need to replace the button with the message that the request has been sent
                $('.acceptFriend[data-id=' + id + ']').replaceWith('<span>Friend request accepted</span>');
            }
        });
    });

    $('.declineFriend').click(function() {
        const id = $(this).data('id');
        $.ajax({
            url: declineFriendUrl,
            method: 'POST',
            data: {
                'id': id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data);
                // need to replace the button with the message that the request has been sent
                $('.declineFriend[data-id=' + id + ']').replaceWith('<span>Friend request declined</span>');
            }
        });
    });
</script>
    

    {% endblock %}